@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100;300&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(/assets/background2.jpg);
    background-size: cover;
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 2px 0 0;
    letter-spacing: 0.5px;
    position: relative;
}

a:hover {
    color: #acbef0;
}

.nav-list li>a::after {
    content: '';
    position: absolute;
    background-color: #acbef0;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.1s;

}

li a:hover:after {
    width: 100%;
    background-color: #acbef0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1rem;
}


.nav-item {
    margin-right: 100px;
    list-style: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.logo-item:first-child {
    list-style: none;
    margin-right: auto;
    margin-left: 100px;

}

.top-nav img {
    width: 8vw;
    height: 16vh;
}

.container {
    margin-left: 8rem;
    margin-top: 6rem;
}

.container h1 {
    font-size: 50px;
    color: #acbef0;
    margin-bottom: 20px;
}

.container h1 span {
    margin-left: 1rem;
    font-size: 50px;
    color: orange;
}

.container p {
    color: rgb(241, 208, 147);
    font-size: 1.5rem;
}

.container a {
    text-decoration: none;
    background-color: #acbef0;
    padding: 10px 18px;
    font-weight: bold;
    color: #000;
    ;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.container a:hover {
    color: #acbef0;
    background-color: #000;
}


.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-info {
    margin-right: 100px;
}

.social-info span a {
    margin-left: 20px;
}

.author {
    margin: 0;
    text-align: center;
}

.author h3 {
    padding-top: 10px;
    margin-bottom: 1rem;
}


form {
    margin-top: 10rem;
}

form h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #acbef0;
    font-size: 40px;
}

.basic-info {
    width: 50%;
    margin: 1rem auto;
}

.basic-info div {
    width: 50%;
    margin: 1rem auto;

}

.basic-info div input {
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 1rem;
    border: 0;
    text-indent: 30px;

}

.comments {
    width: 100%;
    padding: 1.2rem 0;
    border: 0;
    border-radius: 1rem;
    resize: none;
    text-indent: 30px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: left;
    color: rgb(0, 0, 0);
}



.button-box button {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #2860c2;
    color: floralwhite;
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button-box :hover {
    color: #2860c2;
    background-color: floralwhite;
    cursor: pointer;
}