body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin-top: -30px;
}

h1 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.basic-info {
    width: 50%;
    margin: 1rem auto;
}

.basic-info div {
    width: 50%;
    margin: 1rem auto;

}

.basic-info div input {
    width: 100%;
    padding: 1.2rem 0;
    border-radius: 1rem;
    border: 0;
    text-indent: 30px;

}

.comments {
    width: 100%;
    padding: 1.2rem 0;
    border: 0;
    border-radius: 1rem;
    resize: none;
    text-indent: 30px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: left;
    color: rgb(0, 0, 0);
}



.button-box button {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #2860c2;
    color: floralwhite;
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}